.bannerDiv {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-position: center center !important;
    display: flex;
}